{% extends "bootstrap/base.html" %}

{% block title %}填tmd晨午晚检！{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">点我回首页</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">还是首页（没用的按钮）</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    </div>
    <div class="container">
        {% block page_content %}{% endblock %}
    <br><br><br><br><br><br>
        <div>
            <h1>赞助</h1>
            <p>广告位招租~联系 soowindance@gmail.com</p>
            <p>扫二维码请我吃鸡腿，谢谢老板！</p>
            <a href="https://qr.alipay.com/tsx12743k6svfxdkergvf01"><img src="/static/pics/alipayqrcode.webp" alt="QRcode" width="30%"></a>
        </div>
    </div>

{% endblock %}

















